<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= product.name %>
    </title>
</head>

<body>
    <h1>
        <%= product.name %>
    </h1>
    <ul>
        <li>Price: <%= product.price %>
        </li>
        <li>Category: <%= product.category %>
        </li>
        <li>In Stock: <%= product.inStock ? 'Yes' : 'No' %>
        </li>
    </ul>

    <a href="/products">Back to all products</a>
    <a href="/products/<%= product._id.toString() %>/edit">Edit this product</a>
    <form action="/products/<%= product._id.toString() %>?_method=DELETE" method="POST"
        onsubmit="return confirm('Are you sure you want to delete this product?');">
        <button type="submit">Delete this product</button>
    </form>

</body>

</html>